/*header{
  border: 2px solid purple;
}
.profile{
  border: 2px solid green;
}
.my_work{
  border: 2px solid blue;
}
.about{
  border: 2px solid red;
}
footer{
  border: 2px solid yellow;
}*/

/*-----*/
@font-face{
  font-family: 'Aleo-Regular';
  src: url('aleo-regular-webfont.ttf') format('truetype');
}
h1, h2, h3, h4, h5, p, a{
  font-family: 'Aleo-Regular';
}


header{
  max-width: 100%;
  background-color: #0e4378;
  color: white;
  padding: 2ex;
}



ul{
  padding: 0;
}
img{
  max-width: 100%;
}



.profile{
  text-align: center;
  padding: 5ex 0;
}
.profile .me{
  width: 75%;
  border-radius: 50%;
}
.social_links li{
  width: 20%;
  display: inline-block;
}
.social_links img{
  max-width: 100%;
}


.my_work ul{
  list-style-type: none;
  text-align: center;
  padding: 0 1em;
}
.my_work a{
  white-space: normal;
}
article{
  border-top: 3px solid #BEC8D3;
  margin-top: 2ex;
  padding-top: 3ex;
}

.about{
  margin-top: 5ex;
}

footer{
  background-color: #0e4378;
  color: white;
  margin-top: 5ex;
  padding: 5ex 0;
}

/** media queries **/

@media (min-width: 481px){
  .profile .me{
    width: 50%;
  }
  .social_links li{
    width: 15%;
  }
}
@media (min-width: 768px){
  .profile .me{
    width: 25%;
  }
  .social_links li{
    width: 5%;
  }
}
