header{
  border: 2px solid purple;
}
.profile{
  border: 2px solid green;
}
.my_work{
  border: 2px solid blue;
}
.about{
  border: 2px solid red;
}
footer{
  border: 2px solid yellow;
}

/*-----*/

header{
  z-index: 2;
  max-width: 100%;
}



ul{
  padding: 0;
}
img{
  max-width: 100%;
}


.sidebar{
  z-index: 1;
}
.profile{
  text-align: center;
}
.profile .me{
  width: 75%;
  border-radius: 50%;
}
.social_links li{
  width: 20%;
  display: inline-block;
}
.social_links img{
  max-width: 100%;
}


.work_block{
  z-index: 1;
}
.my_work ul{
  list-style-type: none;
  text-align: center;
  padding: 0 1em;
}
.my_work a{
  white-space: normal;
}
article{
  border-top: 3px solid #BEC8D3;
  margin-top: 2ex;
  padding-top: 3ex;
}


/** media queries **/

@media (min-width: 481px){
  .profile .me{
    width: 50%;
  }
  .social_links li{
    width: 15%;
  }
}
@media (min-width: 768px){
  .profile .me{
    width: 25%;
  }
  .social_links li{
    width: 5%;
  }
}
