header{
  border: 2px solid purple;
}
.sidebar{
  border: 2px solid green;
}
.my_work{
  border: 2px solid blue;
}
.about{
  border: 2px solid red;
}
footer{
  border: 2px solid yellow;
}
img{
  max-width: 100%;
}



.sidebar{
  text-align: center;
}
.sidebar .me{
  width: 75%;
}
.social_links{
  padding: 0;
}
.social_links>li{
  width: 18%;
  display: inline-block;
}
