/*--  constants  --*/
@font-face {
  font-family: 'Aleo-Regular';
  src: url("../fonts/aleo/regular/aleo-regular-webfont.woff2") format("woff2");
  src: url("../fonts/aleo/regular/aleo-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Aleo-Light';
  src: url("../fonts/aleo/light/aleo-light-webfont.woff") format("woff");
  src: url("../fonts/aleo/light/aleo-light-webfont.woff2") format("woff2"); }
/*-- Global things --*/
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif; }

h2 {
  text-align: center;
  color: #fff; }

h4, small {
  font-family: 'Aleo-Regular', Georgia; }

p {
  font-family: 'Aleo-Light', Georgia; }

ul {
  padding: 0; }

img {
  max-width: 100%; }

.fa {
  font-size: 40%;
  vertical-align: middle; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.lineHover, a.email, a.resume, .work_block .project article ul.work_buttons li a {
  position: relative; }
  .lineHover:before, a.email:before, a.resume:before, .work_block .project article ul.work_buttons li a:before {
    content: "";
    position: absolute;
    background-color: #00275E;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s; }
  .lineHover:hover:before, a.email:hover:before, a.resume:hover:before, .work_block .project article ul.work_buttons li a:hover:before {
    visibility: visible;
    transform: scaleX(1); }

a.email, a.resume {
  color: #fff;
  position: relative; }
  a.email:before, a.resume:before {
    background-color: #fff; }

/*----Header----*/
header {
  max-width: 100%;
  background-color: #00275E;
  color: white;
  padding: 2ex;
  text-align: center; }

/*----Profile Block----*/
div.sidebar {
  background: #6D98AB; }

.profile {
  text-align: center;
  padding: 10ex 0; }
  .profile .me {
    width: 75%;
    border-radius: 50%; }

.social_links li {
  width: 15%;
  display: inline-block;
  margin: 5ex 0.5em; }
.social_links a {
  position: relative;
  top: 0;
  transition: 0.25s; }
  .social_links a:hover {
    top: -1.5ex; }
.social_links img {
  max-width: 100%; }

/*----Work Examples Block----*/
.work_block {
  background: #FEB729; }
  .work_block .project article {
    position: relative;
    background: #fff;
    border-radius: 5%;
    margin-top: 2ex;
    padding-top: 3ex;
    padding-right: 5ex;
    padding-left: 5ex; }
    .work_block .project article a {
      font-family: 'Open Sans', sans-serif; }
    .work_block .project article ul.work_buttons {
      margin: 3ex 0;
      list-style-type: none;
      padding: 0 0 1em 0; }
      .work_block .project article ul.work_buttons li {
        display: inline;
        margin-right: 1em; }
        .work_block .project article ul.work_buttons li a {
          color: #00275E;
          position: relative; }
      .work_block .project article ul.work_buttons .spLinks {
        display: inline-block; }
        .work_block .project article ul.work_buttons .spLinks li {
          display: block;
          margin-bottom: 1ex; }
    .work_block .project article .glyphicon {
      color: #00275E; }
    .work_block .project article section.screenShot {
      height: auto;
      margin: 0 auto; }
      .work_block .project article section.screenShot.slideShow {
        position: relative; }
    .work_block .project article div.imgWrap {
      margin: 0;
      position: absolute;
      opacity: 0; }
      .work_block .project article div.imgWrap:nth-child(1) {
        animation: xfade 16s 12s infinite; }
      .work_block .project article div.imgWrap:nth-child(2) {
        animation: xfade 16s 8s infinite; }
      .work_block .project article div.imgWrap:nth-child(3) {
        animation: xfade 16s 4s infinite; }
      .work_block .project article div.imgWrap:nth-child(4) {
        animation: xfade 16s 0s infinite; }
@keyFrames xfade {
  0% {
    opacity: 1; }
  10% {
    opacity: 1; }
  25% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.my_work a {
  white-space: normal; }

/*----About Me----*/
.about {
  background: #6D98AB; }
  .about .aboutWrap {
    max-width: 70em;
    margin: 0 auto;
    padding: 0 1em 1em 1em;
    color: #fff; }
    .about .aboutWrap p {
      font-size: 1.25em; }
    .about .aboutWrap a {
      color: #FEB729; }
      .about .aboutWrap a:hover {
        text-decoration: underline; }

/*----Footer----*/
footer {
  background-color: #00275E;
  color: white;
  padding: 5ex 2ex;
  text-align: center; }
  footer h3 {
    color: white; }
  footer .social_links li {
    width: 10%; }

/** media queries **/
@media (min-width: 481px) {
  .profile .me {
    width: 50%; }

  .social_links li {
    width: 15%; } }
@media (min-width: 768px) {
  .profile .me {
    width: 25%; }

  .social_links li {
    width: 5%; }

  footer .social_links li {
    width: 5%; } }
@media (min-width: 992px) {
  .work_block .project article {
    min-height: 75ex; }
    .work_block .project article .screenShot {
      max-width: 43em; } }
@media (min-width: 1200px) {
  .work_block .project article {
    min-height: 80ex; } }

/*# sourceMappingURL=styles.css.map */
